matplotlib==3.3.4
scipy==1.4.1
numpy==1.18.5
tensorflow==1.15.5
protobuf==3.20.3
Unidecode==1.0.22
inflect==0.2.5
librosa==0.8.1
resampy==0.4.3
torch==1.13.1
soundfile
fastapi
uvicorn[standard]
dotenv
gunicorn